.galery{
    @include flexible();
    justify-self: center;
    align-items: center;
    margin: 30px;
    
    .carousel-inner{
        width: 450px;
    }
}

@media screen and (max-width: 360px){
    .galery{
        @include flexible();
        align-items: center;
        justify-content: center;
    
        .carousel-inner{
            width: 350px;
        }
    }
}