body{
    background: $fondo;
}

img{
    border: $borde;
}

h1{
    font-family: $fuente-family;
    text-align: center;
    font-size: 35px;
    text-decoration-line: underline;
    padding-top: 20px;
}

.wapp{
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    img{
        border: none;
        width: 70px;
        box-shadow: black 2px 2px 2px;
        border-radius: 10px;
    }
    img:hover{
        @include transformTransition(1.2,0.5s);
        box-shadow: #f72585 2px 2px 2px;
        padding: 0px;
        margin: 0;
        border-radius: 10px;
    }  
}

footer{
    
    @include flexible();
    font-family: $fuente-family;
    text-align: right;
    color: #f72585;
    background-color: black;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.widget_blog_subscription { 
    display: flex;  
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
    form{
        width: 600px;
        padding: 15px;
        -webkit-box-shadow:0 0px 20px black;
        box-shadow:0 0px 10px black;
        border-radius: 15px;
        background-color:#ff86c8;
        
        p{
            font-family: $fuente-family;
            font-size: 25px;
            text-shadow: 2px 2px 2px white;
            text-align: center;
        }
    }
}


@media screen and (max-width: 320px){
    header{
        @include flexible();
        margin-bottom: 10px;
    }

    .wapp{
        img{
            width: 40px;
        }
    }

    .widget_blog_subscription { 
        display: flex;  
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        
        form{
            padding: 10px;
            width: 300px;
            p{
                font-family: $fuente-family;
                font-size: 20px;
                text-shadow: 2px 2px 2px white;
                text-align: center;
            }
        }
    }



footer{
    font-family: $fuente-family;
    font-size: 12px;
    text-align: right;
    color: #f72585;
    background-color: black;
    margin-top: 10px;
}

}