
nav{
    -webkit-box-shadow:0 0px 10px black;
    -moz-box-shadow:0 0px 10px black;
    box-shadow:0 0px 10px black;

    font-family: $fuente-family;
    text-shadow: 2px 2px 2px white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff86c8;

    .logo{
        height: 100px;
        margin: 0;
        padding: 0;
        border: none;
        -webkit-box-shadow:0 0px 10px black;
        -moz-box-shadow:0 0px 10px black;
        box-shadow:0 0px 10px black;
    }
    a{
        color:$colorFuenteNavBar;
        text-decoration: none;       
    }
    div{
        div{
            display: flex;
            justify-content: flex-end;
            a{
                width: 130px;
                height: 50px;
                text-align: center;
                margin-right: 30px;                
            }
            a:hover{
                @include transformTransition(1.2,0.5s) 
            }           
        }
    }
}
@media screen and (max-width: 320px){
    nav{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        row-gap: 5px;

        .logo{
            height: 110px;
            margin-bottom: 10px;
            padding: 0;
            border: none;
        }
        div{
            div{
                div{
                    a{
                        font-size: 20px;
                        display: inline;
                        color: black;
                        text-align: center;
                        text-decoration: none;
                        align-self: center;
                    }
                }
            }
        }
    }
}

